# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv
pandas
numpy
tqdm
sklearn
transformers==2.8.0
kaggle
boto3
pytorch-lightning
wandb
tokenizers
scikit-learn
scipy
allennlp
fairseq
fastBPE
nlpaug
textattack
torchcontrib
pandas-bokeh
spacy
gensim
matplotlib
pyLDAvis
captum
optuna
fasttext
TextFeatureSelection
onnx
onnxruntime
torch